.recipeDetails {
	&__photo {
		width: 100%;
		max-height: 180px;
		display: block;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
	&__basicInfo {
		background: $secondary_color;
		display: flex;
		justify-content: space-around;
		padding: 10px 0;
	}
	&__wrapper {
		padding: 15px;
	}
	&__products {
		padding: 0 0 5px 5px;
    	margin: 0 0 10px;
		list-style: none;
		border-bottom: 1px solid #d5d5d5;
	}
	&__product {
		&:not(:last-child) {
			margin-bottom: 3px;
		}
	}
	&__products-title {
		margin: 0;
		padding: 0;
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 10px;
	}
	&__content {
		white-space: pre-line;
	}
}