$element_list_background_first: #596488;
$element_list_background_second: #465074;

.recipe__list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.recipe__element {
	margin-bottom: 15px;
	font-size: 0;
}

.recipe__container {
	font-size: 16px;
	display: inline-block;
	background: linear-gradient(to right, $element_list_background_first, $element_list_background_second);
	border-radius: 10px;
	width: 100%;
	overflow: hidden;
	z-index: 10;
	position: relative;
}

.recipe__link {
	color: $font_main_color;
	text-decoration: none;
}

.recipe__image {
	display: inline-block;
	vertical-align: top;
	height: 100px;
	width:100px;
	img {
		width: 99px;
		height: 100%;
		object-fit: cover;
	}
}

.recipe__information {
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	width: calc(100% - 20% - 100px);
}

.recipe__buttons {
	display: inline-flex;
	width: 20%;
	justify-content: center;
	align-items: center;
	height: 100px;
	position: relative;
}

.recipe__title, .recipe__executionTime, .recipe__category {
	margin: 0;
}

.recipe__title {
	margin-bottom: 10px;
}

.recipe__executionTime {
	margin-bottom: 5px;
}

.recipe__executionTime, .recipe__category {
	color: $font_secondary_color;
}

.recipe__removeButton {
	transition: transform 300ms ease-out;

	&.recipe__removeButton-enter {
		transform: translateX(0);
	} 
	&.recipe__removeButton-enter-active, &.recipe__removeButton-enter-done {
		transform: translateX(-35px);
	}
	&.recipe__removeButton-exit {
		transform: translateX(-35px);
	}
	&.recipe__removeButton-exit-active {
		transform: translateX(0);
	}
}

.recipe__confirmation {
	position: absolute;
	right: 0;
	font-size: 16px;
	width: 80px;
	height: 100%;
	transition: transform 300ms ease-out, opacity 300ms ease-out;

	.button__button {
		width: 100%;
		border-radius: 0;
		height: 50%;
		&:first-child() {
			border-bottom: 1px solid $element_list_background_first;
		}
	}

	&.recipe__confirmation-enter {
		opacity: 0.01;
		transform: scale(0.9) translateX(50%);
	} 
	&.recipe__confirmation-enter-active {
		opacity: 1;
		transform: scale(1) translateX(0%);
	}
	&.recipe__confirmation-exit {
		opacity: 1;
		transform: scale(1) translateX(0%);
	}
	&.recipe__confirmation-exit-active {
		opacity: 0.01;
		transform: scale(0.9) translateX(50%);
	}
}

.confirmation__title {
	margin: 0 0 5px;
}