.layout__container {
	display: grid;
}

.layout__container--main {
	grid-template-columns: 10% 1fr 1fr 10%;
	grid-template-rows: 50px 1fr;
	grid-template-areas:
		". title buttons ."
		". main main .";
}

.layout__container--recipeDetails {
	grid-template-columns: 10% 2fr 1fr 10%;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		". title buttons ."
		". recipeDetails recipeDetails .";
	grid-row-gap: 10px;
	padding-top: 10px;
}

.layout__title {
	grid-area: title;
	align-self: center;
	margin: 0;
}

.layout__title--wide {
	grid-column-start: 2;
	grid-column-end: 3;
}

.layout__buttons {
	grid-area: buttons;
	justify-self: end;
	align-self: center;
}

.layout__main {
	grid-area: main;
}

.layout__recipeDetails {
	grid-area: recipeDetails;
}

.layout__container--list {
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}

.layout__container--form {
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}

.layout__input--wide {
	grid-column: 1 / 3;
}

.layout__button {
	grid-column-start: 1;
	justify-self: start;
}

.layout__container--background {
	padding: 10px;
	background: linear-gradient(to right, $element_list_background_first, $element_list_background_second);
	border-radius: 10px;
	box-shadow: 0 5px 20px -5px #000;
	overflow: hidden;
}

.layout__container--no-padding {
	padding: 0;
}

.layout__container--multiple {
	grid-template-columns: repeat(1, 10% 1fr 10%);
}

.layout__item--wide {
	grid-column-start: 2;
	grid-column-end: 3;
}

.layout__container--wide {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 50px 1fr;
	grid-template-areas:
		"title buttons"
		"main main";
}