.button__mainStyles {
	border-radius: 4px;
	background: #fff;
	padding: 5px;
	cursor: pointer;
	color: $font_third_color;
	line-height: 1rem;
	background: $background_light;
	border-width: 0;
	display: inline-block;
}

.button__button {
	@extend .button__mainStyles;
}

.button__link {
	@extend .button__mainStyles;
	text-decoration: none;
}

.button__link--primary, .button__button--primary {
	background: $background_primary;
	color: $font_main_color;
	&:hover {
		background: lighten($background_primary, 5%);
	}
	&:active {
		background: darken($background_primary, 5%);
	}
	&:focus {
		background: darken($background_primary, 10%);
	}
}
