.link__button {
	text-decoration: none;
	color: $font_main_color;
	border-radius: 4px;
	padding: 5px;
	background: $secondary_color;

	&:hover {
		background: lighten($secondary_color, 5%);
	}
	&:active {
		background: darken($secondary_color, 5%);
	}
	&:focus {
		background: darken($secondary_color, 10%);
	}
}

.link__button--primary {

}