$main_color: #3f496c;
$secondary_color: #fca96c;
$font_main_color: #ffffff;
$font_secondary_color: #cacfd0;
$font_third_color: #2c3c69;
$background_light: #f3f5ff;
$background_primary: $secondary_color;
