.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ecf2ff;
    box-sizing: border-box;
    &__view {
        max-width: 1200px;
        min-width: 800px;
        background: #ffffff;
        padding: 16px;
        border-radius: 8px;
        box-shadow: -1px 1px 10px -3px #d4d4d4;
    }
    * {
        box-sizing: border-box;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}