.menu {
    &__container {
        display: flex;
        justify-content: center;
    }
    &__item {
        display: inline-block;
        margin-right: 8px;
        padding: 8px;
        background: #467eb7;
        color: #ffffff;
        cursor: pointer;
        &:hover {
            background: #5c9cde;
        }
        a {
            text-decoration: none;
            color: #ffffff;
        }
    }
}